html{
    width: 100vw;
    height: 100vh;
}
.bnt{
    width: 200px;
    height: 10px;
    padding: 10px;
    color: white;
    background-color: none;
    border-radius: 12px;
}

.cor{
    @extend .bnt;
    background-color: tomato;
}
